/* src/YesNoCheckbox.css */
.checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .custom-checkbox {
    position: relative;
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .custom-checkbox:checked {
    background-color: #4caf50; /* Green background for "Yes" */
    border-color: #4caf50;
  }
  
  .custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .custom-checkbox:not(:checked) {
    background-color: white; /* Red background for "No" */
    border-color: #4caf50;
  }
  
  .checkbox-container label {
    margin-left: 10px;
    font-size: 16px; /* Adjust font size as needed */
  }